{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="session_name">
        <h5>All Posts</h5>
    </div>

    {% if user.is_authenticated%}
        <div id="post_form" class="card">
            <form action="{% url 'newpost'%}", method="POST", enctype="multipart/form-data">
                <h5>New Post</h5>
                <div class="mb-3">
                    {% csrf_token%}
                    {{ form.as_p }}
                </div>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}

    {% include "./display_posts.html" %}

{% endblock %}

{% block script %}
<script src="{% static 'network/likes.js' %}"></script> 
   <script src="{% static 'network/edit.js' %}"></script>  
{% endblock %}
