{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="session_name">
    </div>

    {% if user.is_authenticated%}
        <div id="post_form" class="card">
            <form>
                <h5>New Post</h5>
                <textarea class="form-control" id="content"></textarea>
                <input type="submit" id="post_submit" class="btn btn-primary" value="Post"/>
            </form>
        </div>
    {% endif %}

    <div id="session_posts">
        A
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}