{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="session_name">
        <h5>{{ user_to_view.username }}</h5>

        {% if user != user_to_view%}
            {% if user.is_authenticated %}
                <a  href="{% url 'follow_unfollow' user_to_view.username %}">
                    <button type="button" class="btn btn-primary">
                        {% if followed_status %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </button>
                </a>
            {% endif %}
        {% endif %}
    </div>


    <div>
        <ul>
            <li>Followers: {{user_to_view.NumberFollowers}}</li>
            <li>Followong: {{user_to_view.NumberFollowing}}</li>
        </ul>
    </div>
    
    {% include "./display_posts.html" %}

{% endblock %}

{% block script %}
   <script src="{% static 'network/edit.js' %}"></script> 
{% endblock %}